.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 95;
    background-image: url('https://images.freeimages.com/images/large-previews/d04/facebook-header-size-clouds-1-1140834.jpg');
    height: 100px;
    position: relative;
    top:-20px; left: 0px;
}



.T{
    position: relative;
    top: 40px; left: -600px;
    color:rgb(255, 255, 255);
}

.P{
    position: relative;
    top: -10px; left: 600px;
    color:rgb(255, 255, 255);

}

@media(max-width:1200px){
    .P{
        position: relative;
    top: 0px; left: 0px;
}
.T{
    position: relative;
    top: 0px; left: 0px;
}
}