.let{
    font-family: 'Rubik Iso', cursive;
    font-size: 16px;
    color: #fff200;
    line-height: 1.4;
    font-size: 30px; /* Tamaño de fuente más grande */
    letter-spacing: 1px;
    width: 1000px;
    
    
}

.Fondo{
  text-align: center;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px; /* Ajusta el 100% de la altura de la ventana del navegador */
  border-radius: 100px;
  position: relative;
  top: 200px; left: 0px; 
}

.slider{
aspect-ratio: 10 / 10;
width: 300px;
position: relative;
display: flex;
overflow: scroll
}

.sliderImg{
  width: 100%;
  left: 0%;
  position: sticky;
  object-fit:initial;
  border-radius: 5px;
  scroll-snap-align: center;
}

.carrusel {
  aspect-ratio: 10 / 10;

  display: flex;
  flex-wrap: nowrap;
  overflow: scroll
}

.elemento{
  flex: 1 0 auto;
  margin: 0 50px;
  width: 500px;
  height: 500px;
}

.Img{
  height: 150px;
  border: 1px solid black;

  margin: 0 auto;
}

.Img:hover{
  height: 160px;
  border: 1px solid black;
  margin: 0 auto;
}


.cardImg{
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
  border-radius: 15%;
  margin: 12px;
  border-top: 1px solid rgb(255, 235, 18);
  border-bottom: 1px solid rgb(255, 3, 3);
  border-right-color: rgb(255, 247, 0);
  border-left-color: rgb(247, 0, 0);

  padding: 8px;
  
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  transition: transform 0.3s ease-in-out 0s;
  
  width: 50vh;
  
    display: inline-block; /* Hace que los div se comporten como elementos en línea */
  max-width: 20%; /* Asegura que la imagen no sea más ancha que su contenedor */
  height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
  margin-right: 10px; 
  
}

.cardImg:hover{
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
  border-radius: 15%;
  margin: 12px;
  border-top: 1px solid rgb(255, 18, 18);
  border-bottom: 1px solid rgb(255, 255, 3);
  border-right-color: rgb(255, 0, 0);
  border-left-color: rgb(255, 247, 6);
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  transition: transform 0.3s ease-in-out 0s;
  width: 50vh;
    display: inline-block; /* Hace que los div se comporten como elementos en línea */
  max-width: 20%; /* Asegura que la imagen no sea más ancha que su contenedor */
  height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
  margin-right: 10px; 

  
}

.div{
  position: relative;
  top: 25px; left: 0px; 
}

/* ... Otros estilos ... */

.Img {
  height: 150px;
  border: 1px solid black;
  margin: 0 auto;
  transition: height 0.3s ease; /* Agregamos una transición para un cambio suave */
}

.ImgHovered {
  height: 160px;
  border: 1px solid black;
  margin: 0 auto;
}



@media (max-width:800px){
  .Fondo{
    position: relative;
    top: 600px; left: 0px; 
    height: 700px; /* Ajusta el 100% de la altura de la ventana del navegador */

  }

.let{
  position: relative;
  top: 0px; left: -230px;
}
.Img{
  max-width: 100%; /* Asegura que la imagen no sea más ancha que su contenedor */

}

}